a{
    color: #555;
    text-decoration: none;
    transition: ease all .3s;
}

a:hover{
    color: #0756F3;
}
.btn-color{
    background-color: #FF2078;
    color: white;
}
.btn-subscribe{
    background-color: #ebb7cb;
}
.carousel-section{
    border-radius: 12px;

}
.carousel-section img{
    height: 380px;
}
.carousel-indicators li{
    background: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
}
.categories a{
    text-decoration: none;
}
.categories-info{
    color: white;
}
.categories-img img{
    height: 135px;
}
.panda-card{
    border: 0;
    border-radius: 10px;
}

.panda-card-footer{
    border: 0;
    background: white;
    border-radius: 10px;
}
.card-title{
    font-size: 20px;
    font-weight: 400;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}